@{
    ViewData["Title"] = "Головна сторінка";
}

<div class="text-center">
    <h1 class="display-4">Лабораторна робота №3</h1>
    <p class="lead">Розробка ASP.NET CORE MVC застосунку. Використання OAuth2.</p>
    <hr class="my-4">
    <p>
        <strong>Тема проєкту:</strong> Бюро знахідок (Lost & Found).
    </p>
    <p>
        На цьому сайті ви можете розміщувати оголошення про загублені або знайдені речі, а також переглядати вже існуючі оголошення.
    </p>
    <p>Для доступу до функціоналу сайту, будь ласка, увійдіть в систему або зареєструйтесь.</p>
    <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Account" asp-action="Login" role="button">Увійти</a>
    <a class="btn btn-secondary btn-lg" asp-area="" asp-controller="Account" asp-action="Register" role="button">Зареєструватися</a>
</div>